.navbar.navbar-default(role='navigation', ng-controller='NavCtrl')
  .container
    .navbar-header
      button.navbar-toggle(data-toggle='collapse', data-target='#bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') i-fit

    .collapse.navbar-collapse#bs-navbar-collapse
      ul.nav.navbar-nav.navbar-right(ng-hide='email')
        li: a(href='/#/', class='fa fa-home') &nbsp Home
        li: a(href='/#/register') Register
        li: a(href='/#/login') Login
      ul.nav.navbar-nav.navbar-right(ng-show='email')
        li: a(href='/#/profile', class='glyphicon glyphicon-user') &nbsp Profile
        li: a(href='/#/dashboard', class='fa fa-bar-chart') &nbsp Dashboard
        li: a(href='/#/logout', class='fa fa-times') &nbsp Logout
        li: a(href='') {{email}}

