.row
  .col-xs-3
    h4 Info
    form(role='form', novalidate, name='profileForm')
      .form-group
        label(for='name') Name
        input.form-control#name(ng-minlength='1', required, ng-model='user.name', type='text', name='name', autofocus)
      .form-group
        label(for='age') Age
        input.form-control#age(required, ng-model='user.age', type='number', name='age')
      .form-group
        label(for='height') Height
        input.form-control#height(required, ng-model='user.height', type='number', name='height')
      .form-group
        label(for='weight') Weight
        input.form-control#weight(required, ng-model='user.weight', type='number', name='weight')
      .form-group
        label(for='gender') Gender
        select.form-control#gender(required, ng-model='user.gender', type='dropdown', name='gender')
          option Male
          option Female
      button.btn.btn-primary(type='submit', ng-show='profileForm.$valid', ng-click='update()') Update
